.classA {
    background-color: #0c0800;
    width: 500px;
    height: 500px;
}

.classB {
    background-color: #f0dd10;
    width: 50%;
    height: 50%;
}
.p{
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

.classC {
    width: 50%;
    height: 50vh;
    background-color: rgb(93, 230, 230);
}

.classD {
    width: 75%;
    height: 50%;
    background-color: rgb(255, 000, 000);
}